body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #70798d;
  color: white;
  padding: 10px 20px;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin: 0 15px;
}

header a {
  color: white;
  text-decoration: none;
}

header .cta {
  background: #4950b3;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
}

.banner {
  height: 500px;
}

section {
  padding: 50px;
  text-align: center;
}

.services-container,
.testimonials-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services-container div,
.testimonials-container div {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
}

/* Estilos para o formulário */
.formconfig {
  max-width: 420px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Estilos para os campos de entrada */
.formconfig input,
.formconfig textarea {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
}

/* Estilo para o botão */
.envform {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}

.envform:hover {
  background-color: #218838;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.social-links a {
  text-decoration: none;
  margin: 0 10px;
  color: white;
}

.banner {
  position: relative; /* Para que os elementos filhos sejam posicionados relativos a ela */
  margin-bottom: 40px;
}

.swiper-container {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  font-size: 28px;
}

.bannerimage {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

.swiper-pagination {
  position: absolute; /* Posiciona a paginação de forma absoluta */
  bottom: 20px; /* Distância do fundo do slide */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta o posicionamento para o centro */
  z-index: 10; /* Garante que a paginação fique acima da imagem */
}

.swiper-pagination-bullet {
  background: #007aff; /* Cor padrão dos bullets */
  width: 12px; /* Largura do bullet */
  height: 12px; /* Altura do bullet */
  border-radius: 50%; /* Faz os bullets serem circulares */
  margin: 0 4px; /* Espaçamento entre os bullets */
  opacity: 0.7; /* Opacidade padrão */
  transition: opacity 0.3s; /* Suaviza a transição de opacidade */
}

.swiper-pagination-bullet-active {
  background: #0056b3; /* Cor do bullet ativo */
  opacity: 1; /* Opacidade total para o bullet ativo */
}

#about {
  padding: 40px;
  text-align: center;
  margin-top: 100px;
}

#about h2 {
  font-size: 28px;
  margin-bottom: 80px;
}

/* #about p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
} */