body {
  margin: 0;
  font-family: "Permanent Marker", serif;
  background-color: #f4f4f4;
}

header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #d1f5d3;
}

.container {
  display: flex;
  padding: 20px;
  background-color: #fff;
}

section {
  flex: 70%;
  background-color: #fff;
  padding: 20px;
  margin-right: 20px;
}

aside {
  flex: 30%;
  background-color: #e7e7e7;
  padding: 20px;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside a {
  color: #333;
  text-decoration: none;
}

aside a:hover {
  color: #4caf50;
}

/* footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
} */

footer {
  background-color: #4caf50; /* Cor de fundo */
  color: white; /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  padding: 20px; /* Espaçamento interno */
  position: absolute; /* Para posicionamento */
  bottom: 0; /* Fica no fundo */
  width: 100%; /* Largura total */
}

footer p {
  margin: 0; /* Remove a margem padrão */
  font-size: 14px; /* Tamanho da fonte */
}

.social-links a {
  text-decoration: none;
  margin: 0 10px;
  color: white;
}
