body {
  margin: 0;
  font-family: "Permanent Marker", serif;
  background-color: #2c2c2c; /* Cinza escuro para o fundo */
}

header {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
  color: white;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #ffca28;
}

.container {
  display: flex;
  padding: 20px;
  background-color: #424242;
}

section {
  flex: 70%;
  background-color: #616161;
  padding: 20px;
  margin-right: 20px;
  border: 2px solid #283eff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

aside {
  flex: 30%;
  background-color: #757575;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

aside ul {
  list-style: none;
  padding: 0;
}

aside a {
  background-color: #757575;
  text-decoration: none;
}

aside a:hover {
  color: #ffca28;
}

footer {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 14px;
}

.social-links a {
  text-decoration: none;
  margin: 0 10px;
  color: white;
}
